@using Microsoft.AspNetCore.Identity
@using ConductingContests.Models.Entities;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<ConductingContests.Models.Entities.Contest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (User.IsInRole("Admin"))
{
    <h1>Управление конкурсами(администратор)</h1>
    <hr />
    <p>
        <a class="btn btn-success" asp-action="Create">Создать новый конкурс</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Название конкурса
                </th>
                <th>
                    Дата начала
                </th>
                <th>
                    Дата окончания
                </th>
                <th>
                    Статус
                </th>
                <th>
                    Создано
                </th>
                <th>
                    Категория
                </th>
                <th>
                    Действие
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @item.StartDate.ToString("dd.MM.yyyy HH:mm")
                    </td>
                    <td>
                        @item.EndDate.ToString("dd.MM.yyyy HH:mm")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (User.IsInRole("Organizer"))
{
    <h1>Управление конкурсами(организатор)</h1>
    <hr />
    <p>
        <a class="btn btn-success" asp-action="Create">Создать новый конкурс</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Название конкурса
                </th>
                <th>
                    Дата начала
                </th>
                <th>
                    Дата окончания
                </th>
                <th>
                    Статус
                </th>
                <th>
                    Категория
                </th>
                <th>
                    Действие
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @item.StartDate.ToString("dd.MM.yyyy HH:mm")
                    </td>
                    <td>
                        @item.EndDate.ToString("dd.MM.yyyy HH:mm")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (User.IsInRole("Basic"))
{
    <h1>Конкурсы</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Название конкурса
                </th>
                <th>
                    Дата начала
                </th>
                <th>
                    Дата окончания
                </th>
                <th>
                    Статус конкурса
                </th>
                <th>
                    Категория
                </th>
                <th>
                    Статус заявки
                </th>
                <th>
                    Действие
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @item.StartDate.ToString("dd.MM.yyyy HH:mm")
                    </td>
                    <td>
                        @item.EndDate.ToString("dd.MM.yyyy HH:mm")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @{
                            var currentUser = await UserManager.GetUserAsync(User);

                            if (item.ParticipationRequest == null)
                            {
                                @("Ожидание")
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.ParticipationRequest.FirstOrDefault(pr => pr.User == currentUser).Status)
                            }
                        }
                    </td>
                    <td>
                        @{
                            var usercure = UserManager.GetUserId(User);

                            if (item.ParticipationRequest == null)
                            {
                                <form asp-controller="ParticipationRequests" asp-action="Apply" method="post">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button class="btn btn-primary" type="submit">Подать заявку</button>
                                </form>
                            }
                            else
                            {
                                StatusRequest? participationRequest = item.ParticipationRequest.FirstOrDefault(pr => pr.User == currentUser).Status;
                                if (participationRequest.HasValue && participationRequest.Value == StatusRequest.Pending)
                                {
                                    <button class="btn btn-warning" disabled>Ожидание</button>
                                }
                                else if (participationRequest.HasValue && participationRequest.Value == StatusRequest.Accepted)
                                {
                                    <a class="btn btn-primary" asp-controller="OfferedServices" asp-action="Create" asp-route-id="@item.Id">Подать условия</a> //TODO(my): Add method OfferService to OfferedService controller
                                }
                                else if (participationRequest.HasValue && participationRequest.Value == StatusRequest.Rejected)
                                {
                                    <button class="btn btn-danger" disabled>Отклонено</button>
                                }
                                else
                                {
                                    <form asp-controller="ParticipationRequests" asp-action="Apply" method="post">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        @if (participationRequest == StatusRequest.Pending)
                                        {
                                            <button class="btn btn-primary" type="submit">Отменить заявку</button>
                                        }
                                        else if (participationRequest == StatusRequest.Accepted)
                                        {
                                            <a class="btn btn-success" asp-action="EditConditions" asp-route-id="@item.Id">Подать условия</a>
                                        }
                                        else if (participationRequest == StatusRequest.Rejected)
                                        {
                                            <button class="btn btn-secondary" disabled>Отклонено</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary" type="submit">Подать заявку</button>
                                        }
                                    </form>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{

}